{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="logo" src="{% static 'img/icon.png' %}" alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'poll_user' %}">โพลของฉัน</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'poll_create' %}">สร้างโพลใหม่</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        กระทู้ของฉัน
                    </button>
                </a>

                <a href="">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        {{ user.username }}
                    </button>
                </a>

                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Log Out
                    </button>
                </a>
                </button>
            </div>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Log In
                    </button>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<style>
    .logo {
        width: 50px;
        height: 50px;
        /* width: 10%; */
        /* height: 10%; */
    }
</style>